# Byte-compiled files
__pycache__/
*.py[cod]
*.log
*.pyc
# Virtual environments
venv/
ENV/
my_env/

# Django environment and secret files
.env
db.sqlite3

# Static and media files (keep only media)
media/

# Docker-related files
docker-compose.override.yml

# Ignore celery beat schedule file
celerybeat-schedule

staticfiles/

# Ignore Qatar APIs temp folder
qatar_apis/

# Ignore celery beat schedule files
celerybeat-schedule.*