# Byte-compiled files
__pycache__/
*.py[cod]
.log

# Virtual environments
venv/
ENV/
my_env/

# Django environment and secret files
.env
db.sqlite3

# Static and media files
static/
media/
staticfiles/

# Docker-related files
docker-compose.override.yml
