{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}RwandAir FlightOps{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/toast.css' %}" />
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="{% static 'js/toast.js' %}"></script>

    <!-- Extra CSS specific to pages -->
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="navbar-logo">
        <img
          src="{% static 'images/rwandair-logo.png' %}"
          alt="RwandAir Logo"
        />
      </div>
      <div class="navbar-title">FLIGHT OPERATIONS</div>

      <!-- User Menu -->
      <div class="navbar-menu">
        {% if user.is_authenticated %}
        <span>{{ user.email }}</span> | <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>

    <!-- Toast Notification Container -->
    <div class="toast-container" id="toast-container"></div>

    <!-- Main Content -->
    <main>{% block content %}{% endblock %}</main>

    <!-- Footer -->
    <footer class="footer">
      © 2024 RwandAir FlightOps Website(v1). All rights reserved.
    </footer>

    <!-- Toast Notification JavaScript -->
    <script src="{% static 'js/toast.js' %}"></script>

    <!-- Extra JS specific to pages -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
